body {
  background: lightgray;
  padding: 20px;
}

.bio-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

.image-container {
  border: 1px solid;
  border-radius: 100%;
}

.bio-info h3 {
  margin-top: 0px;
}

.bio-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.bio-contact p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid,
.fa-regular,
.fa-brands {
  padding-right: 5px;
}

.resume-body {
  display: flex;
  justify-content: space-between;
}

.resume-left {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 70vw;
  margin-right: 20px;
}

.resume-left h2, h3, h4 {
  margin-bottom: 0px;
}

.resume-left h3, h4 {
  font-style: italic;
}

li {
  margin-top: 5px;
  list-style:none;
}


sub {
  font-style: italic;
}


.resume-right {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  width: 30vw;
}



.goals{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills ul {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}

@media only screen and (min-width: 375px) and (max-width: 480px) {
  .bio-intro {
    display: grid;
  }

  .bio-contact {
    margin-top: 5px;
  }

  .resume-body {
    flex-direction: column;
  }

}