body{
  background: lightgray;
}

.bio-intro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

.bio-info h3 {
  margin-top: 0px;
}

.bio-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

.bio-contact p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid, .fa-regular, .fa-brands {
  padding-right: 5px;
}

.resume-body{
  display: flex;
  justify-content: space-between;
}

.resume-left{
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: max-content;
}

.resume-right{
  display: flex;
  flex-direction: column;
  justify-content: right;
  width: fit-content;
}

.skills {
}

/* #img-container,
#bio-info,
#bio-contact {
  display: inline-block;
  width: 33%
} */

.image-container {
  border: 1px solid;
  border-radius: 100%;
}
