@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
	--main-background: #033349;
	--main-fonts-color: #fff;
	--main-decor-color: #fe8138;
	--main-header-background: #8f532f;
	--main-font-family: 'Poppins', sans-serif;
	--main-background-image: url("/Images/dark-grey-terrazzo.png") no-repeat;
}



* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

main {
	padding: 0;
	width: 100%;
	height: 100%;
	background: var(--main-background);
}



header {
	margin: 0 auto;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background: transparent;
	position: fixed;
	top: 0;
	transition: 0.3s;
	z-index: 5;
}

.namebar {
	padding-top: 75px;
}

.brand {
	position: relative;
	margin-top: 15px;
	border-radius: 25%;

}



.nav-show {
	opacity: 0;
}

header:hover {
	opacity: 1;
	background: var(--main-header-background);
}

.logo img {
	padding-top: 5px;
	height: 50px;
	cursor: pointer;
}

.nav-bar {
	list-style: none;
	position: relative;
	display: inline-flex;
}

a.nav-link {
	margin: 2px;
	padding: 5px 10px;
	text-decoration: none;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	cursor: pointer;
	text-transform: uppercase;
}

.active {
	background: var(--main-decor-color);
	color: white;
}

.nav-link:hover {
	color: #000000;
	background: var(--main-decor-color);
}



#home {
	margin: auto;
	height: 100vh;
	color: var(--main-fonts-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

/* For Regular Light Mode use this background 
https://images.photowall.com/products/56607/nashville-tennessee-skyline-2.jpg?q=75&w=150&h=150 */




#home .filter {
	background: linear-gradient(var(--main-header-background), var(--main-background));
	background-size: cover;
	background-position: center;
	position: absolute;
	top: 0px;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: .30;
}

.intro {
	text-align: center;
	color: var(--main-fonts-color);
	z-index: 1;
	margin: auto;
	padding: 20px;
}

.intro p {
	margin: 5px;
	padding-bottom: 20px;
	font-size: 1.2rem;
	font-family: var(--main-font-family);
	text-align: center;
}

h3 {
	padding-bottom: 5px;
	margin-top: 75px;
	letter-spacing: normal;
	font-family: var(--main-font-family);
	font-style: normal;
	font-size: 60px;
	color: var(--main-fonts-color);
}

.social-media {
	padding-bottom: 25px;
	display: flex;
	position: center;
	align-items: space-around;
	justify-content: center;
}

.social-media a {
	margin: 10px;
	font-size: 2rem;
	text-align: center;
	display: inline-block;
	color: var(--main-fonts-color);
}

.social-media a i {
	cursor: pointer;
}

.social-media a:hover {
	color: var(--main-decor-color);
}

#projects {
	background: linear-gradient(var(--main-background), var(--main-header-background));
	margin-top: 100px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: center;
	color: var(--main-fonts-color);
	overflow-y: hidden;
	align-content: center;
}



#projects p {
	font-family: var(--main-font-family);
	font-size: 1rem;
	padding: 15px;
}

.work {
	padding: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
	margin-bottom: 80px;
	margin-right: 0px;
	margin-left: 0px;
	padding-bottom: 15px;
	border-radius: 25%;
	height: fit-content;
}

h3.project-head {
	font-size: 2.5rem;
}

.card img {
	border-radius: 25%;
	width: 25vw;
	padding: 10px;
}

.card .work-content {
	text-align: center;
	font-size: 1rem;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	cursor: pointer;
	border-radius: 0px 0px 10px 10px;
	background-color: var(--main-decor-color);
	height: 100%;
	width: 100%;
}

.card a {
	text-decoration: none;
}

.card .work-content:hover {
	color: #202020;
}

.card:hover {
	box-shadow: 0 0 1.5rem #e6250a;
}



#contact {
	background: linear-gradient(var(--main-header-background), var(--main-background));
	margin: auto;
	padding-bottom: 20px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--main-fonts-color);
}


#contact-form {
    letter-spacing: 2px;
  }

input {
	width: 250px;
	height: 25px;
}

textarea {
	width: 250px;
}



#contact p {
	padding: 10px;
	text-align: center;
	font-size: 1.2rem;
	font-family: var(--main-font-family);
}



footer {
	width: 100%;
	height: 100%;
	background-color: var(--main-header-background);
}

.copyright {
	color: #fff;
	font-size: 1.2rem;
	line-height: 40px;
	text-align: center;
}

.copyright a {
	color: #fff;
	font-size: 1rem;
	letter-spacing: 1px;
	text-decoration: none;
}

.copyright a:hover {
	color: var(--main-decor-color);
}



hr {
	background: var(--main-decor-color);
	margin: 2px;
	height: 3px;
	width: 150px;
	border-radius: 5px;
	border: hidden;
	margin-inline-start: auto;
	margin-inline-end: auto;
}

::-webkit-Scrollbar {
	width: 0px;
	background: rgba(5, 5, 5, 1);
}

::-webkit-Scrollbar-thumb {
	border-radius: 10px;
	background: var(--main-decor-color);
	box-shadow: inset 0 0 20px var(--main-decor-color);
}

::-webkit-Scrollbar-track {
	margin-top: 80px;
	border-radius: 10px;
}


.hamburger {
	display: none;
}

.hamburger div {
	width: 30px;
	height: 3px;
	background: #dbdbdb;
	margin: 5px;
	transition: all 0.3s ease;
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translatex(50px);
	}

	to {
		opacity: 1;
		transform: translatex(0px);
	}
}



@media only screen and (max-width: 1484px) and (min-width: 1214px) {
	.work {
		padding: 20px 20%;
	}
}

@media only screen and (max-width: 1214px) and (min-width: 1000px) {
	.work {
		padding: 20px 12%;
	}
}


@media only screen and (max-width: 500px) {

	#home,
	#projects,
	#contact {
		overflow-x: hidden;
	}

	header {
		background-color: var(--main-header-background);
	}
	
	.namebar{
	padding-top: 100px;
	}
	.logo {
		position: absolute;
		top: 2px;
		left: 30px;
	}

	.nav-show {
		opacity: 1;
	}

	.nav-bar {
		position: fixed;
		top: 0px;
		right: 0;
		width: 60%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background: var(--main-header-background);
		transform: translatex(100%);
		transition: transform 0.5s ease-in;
		z-index: -1;
	}

	.hamburger {
		position: inherit;
		top: 17px;
		right: 25%;
		display: block;
		cursor: pointer;
		z-index: 5;
	}

	.nav-bar li {
		opacity: 2;
	}


	.card img {
		border-radius: 25%;
		width: 50vw;
		padding: 10px;
	}

	.card .work-content {
		text-align: center;
		font-size: 1rem;
		color: var(--main-fonts-color);
		font-family: var(--main-font-family);
		cursor: pointer;
		border-radius: 0px 0px 10px 10px;
		background-color: var(--main-decor-color);
		height: 100%;
		width: 100%;
	}

	.card a {
		text-decoration: none;
	}

	.card .work-content:hover {
		color: #202020;
	}

	.card:hover {
		box-shadow: 0 0 1.5rem #2196F3;
	}


}

@media only screen and (max-width: 375px) {
	#home,
	#projects,
	#contact {
		overflow-x: hidden;
	}

	header {
		background-color: var(--main-header-background);
	}
	
	.namebar{
	padding-top: 500px;
	}
	.logo {
		position: absolute;
		top: 2px;
		left: 30px;
	}

	.nav-show {
		opacity: 1;
	}

	.nav-bar {
		position: fixed;
		top: 0px;
		right: 0;
		width: 60%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background: var(--main-header-background);
		transform: translatex(100%);
		transition: transform 0.5s ease-in;
		z-index: -1;
	}

	.hamburger {
		position: inherit;
		top: 17px;
		right: 25%;
		display: block;
		cursor: pointer;
		z-index: 5;
	}

	.nav-bar li {
		opacity: 2;
	}


	.card img {
		border-radius: 25%;
		width: 50vw;
		padding: 10px;
	}

	.card .work-content {
		text-align: center;
		font-size: 1rem;
		color: var(--main-fonts-color);
		font-family: var(--main-font-family);
		cursor: pointer;
		border-radius: 0px 0px 10px 10px;
		background-color: var(--main-decor-color);
		height: 100%;
		width: 100%;
	}

	.card a {
		text-decoration: none;
	}

	.card .work-content:hover {
		color: #202020;
	}

	.card:hover {
		box-shadow: 0 0 1.5rem #2196F3;
	}


}

.nav-active {
	transform: translatex(0%);
}
}
.nav-active {
	transform: translatex(0%);
}