/*Styles by Tag */
html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    text-align: center;
    margin: 0px auto 0px auto;
    background-color: #EAF6f6;
    width: 100vw;
    height: 100vw;
    max-width: 100%;
}

    {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    font-size: 18px;
    background-image: linear-gradient(to bottom, #66bfbf, #eaf6f6);
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: white;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: white;
    font-size: 24px;
}

.active {
    display: block;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }

    .logo:hover,
    .nav-links:hover {
        color: #66BFBF;
    }
}

h1 {
    font-size: 5rem;
    margin: 50px auto 10px auto;
    font-family: 'Merienda', cursive;
    color: #66BFBF;
}

div {
    display: block;
}

h2 {
    font-size: 1.8rem;
    margin-top: 0px auto 0px auto;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    margin: 50px auto 50px auto;
}

/*Styles by class */
.top-container {
    position: relative;
    padding-top: 100px;
    margin-top: 30px;
    width: 100vw;
    max-width: 100%;
}

.middle-container {
    position: relative;
    margin: 50px auto 0px auto;
    width: 100vw;
    max-width: 100%;
}

.bottom-container {
    position: relative;
    margin: 50px auto 0px auto;
    background-image: linear-gradient(to top, #66bfbf, #Eaf6f6);
    padding-top: 50px;
    padding-bottom: 100px;
    font-size: 1.25rem;
    width: 100vw;
    max-width: 100%;
}

.hello {
    font-family: 'Permanent Marker', cursive;
}

.hello-img:hover {
    text-decoration: #66BFBF;
    font-size: 2rem;
}

.profile-description {
    color: #40514E;
}

.header {
    margin-top: 0;
    font-family: 'Homemade Apple', cursive;
}

.top-cloud {
    position: absolute;
    right: auto;
    top: 50px;
}

.top-cloud2 {
    position: absolute;
    left: 10px;
    top: 275px;
    right: auto;
    z-index: -1;
}

.bottom-cloud {
    position: absolute;
    top: 200px;
    right: 50px;
    left: auto;
    bottom: 300px;
    z-index: -1;
}

.bottom-cloud2 {
    position: initial;
    top: 250px;
    right: auto;
    left: auto;
    bottom: 250px;
    z-index: -1;
}


.image {
    height: 175px;
    width: 200px;
    border-radius: 20px 20px;
}

.htmllogo {
    width: 25%;
    border-radius: 25px 25px;
    float: right;
    margin-left: 30px;
}

.skills {
    margin: 30px auto 0px auto;
}

.my-skills {
    font-family: 'Permanent Marker', cursive;
}

.skills-img {
    width: 25%;
    border-radius: 25px 25px;
    float: left;
    margin-right: 30px;
}

.skill-row-1 {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    padding-bottom: 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.tmwrk {
    color: #11999E;
}

.webdev {
    color: #11999E;
}

.skill-info {
    line-height: 2;
}

.team {
    line-height: 2;
}

.team-quote {
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}

.butn {
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Arial;
    color: #ffffff;
    font-size: 22px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 100px auto 0px auto;
}

.butn:hover {
    background: #66BFBF;
    text-decoration: none;
}

.linkedin {
    position: relative;
    right: 20px;
    top: 30px;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
}

.linkedin:hover {
    color: #ffffff;
    font-size: 1.5rem;
}

.twitter {
    position: relative;
    right: 0px;
    top: 30px;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
}

.twitter:hover {
    color: #ffffff;
    font-size: 1.5rem;
}

.projects {
    position: relative;
    top: 30px;
    left: 20px;
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
}

.projects:hover {
    color: #ffffff;
    font-size: 1.5rem;
}

.copyright {
    position: relative;
    top: 60px;
    color: #EAF6f6;
    font-size: .75rem;
}

.navbar {
    font-family: 'Permanent Marker';
}

.myskills-img {
    width: 25%;
    border-radius: 25px 25px;
}